<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Sobre</h4>
            <p class="text-muted">E-cordel é um projeto de código aberto nascido no Cariri Cearense com intuito de preservar e difundir a literatura de cordel no meio digital.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contatos</h4>
            <ul class="list-unstyled">
              <li><a href="https://ecordel.com.br/como-contribuir/" target="_blank" class="text-white">Como contribuir</a></li>
              <li><a href="mailto:contato@ecordel.com.br" class="text-white">contato@ecordel.com.br</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>e-cordel</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  
  <main role="main">
    
    <router-outlet></router-outlet>

  </main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <a href="/cordel/new">Novo cordel</a>
  </div>
</footer>
